{% extends 'mainapp/layout.html' %}
{% load static %}

{% block content %}
<div class="container content">
  <div class="col-sm-8 col-sm-offset-2">

  {% if empty %}
  <h1 >{{msg}}</h1>
  {% else %}
      <table class="table">
        <thead>
          <th>Product</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Total</th>
          <th></th>
        </thead>
        <tfoot>
          <!-- <tr>
            <td></td>
            <td></td>
            <td>Total: {{ cart.total }}</td>
          </tr> -->
        </tfoot>
        {% for userOrder in user.order_set.all %}
        <tr> 
          <td>{{userOrder.cart.product.title}}</td><td>{{userOrder.cart.quantity}}</td><td>{{ userOrder.cart.cart.total }}</td><td>{{ userOrder.final_total }}</td>
        </tr>
        {% endfor %}
      </table>
  {% endif %}

{% endblock%}
